{% extends "home.html" %}

{% block content %}
<div class="row p-3">
    <div class="col-12 col-md-10 col-xl-12">
        <form class="d-flex justify-content-center align-items-center p-1" action="{% url 'upload' %}" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-12 col-md-10 col-xl-12">
                    <div class="row p-2">
                        <div class="col-12 col-md-10 col-xl-12">
                            <input type="file" name="fileMRI"  class="form-control" required>
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col-12">
                            <button class="btn btn-success" type="submit">Segmentar y Diagnosticar</button>
                        </div>
                        <!--div class="col-4 col-md-4 col-xl-4">
                            <a class="btn btn-danger" href="{% url 'home' %}">Cancelar</a>
                        </div-->
                    </div>
                </div>
            </div> 
        </form>            
    </div>
</div>      
{% endblock %}
