{% extends "home.html" %}

{% block content %}
<div class="row p-1 m-3">
    <div class="col-12 col-xl-12">
      <form method="POST">
        {% csrf_token %}
        <div class="row p-1">
          <h4 class="text-center">Crear Usuario</h4>
        </div>
        
        <div class="row p-1 d-flex justify-content-center align-items-center">
           <div class="col-7 col-xl-7">
          <label class="fw-bold">Username:</label>
          {{form.username}}
          </div> 
        </div>

        <div class="row p-1 d-flex justify-content-center align-items-center">
            <div class="col-7 col-xl-7">
            <label class="fw-bold">Nombre:</label>
            {{form.first_name}} 
            </div>
        </div>

        <div class="row p-1 d-flex justify-content-center align-items-center">
            <div class="col-7 col-xl-7">
            <label class="fw-bold">Apellido:</label>
            {{form.last_name}}
            </div> 
        </div>
  
        <div class="row p-1 d-flex justify-content-center align-items-center">
          <div class="col-7 col-xl-7">  
          <label class="fw-bold">Password:</label>
          {{form.password}}
          </div>  
        </div>

        <div class="row p-1">
            
            
            <div class="col-6 col-xl-6 d-flex justify-content-end">
                <label class="fw-bold">Administrador:</label>
            </div> 
            <div class="col-6 col-xl-6 d-flex justify-content-start">  
              {{form.is_admin}}
            </div>   
        </div>

        <div class="row p-3">
            <div class="col-6 col-xl-6 d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Crear</button>
            </div> 
            <div class="col-6 col-xl-6 d-flex justify-content-start">  
                <a class="btn btn-danger" href="{% url 'listUser' %}">Regresar</a>
            </div>
        </div>
                       
      </form>
    </div>
  </div>     
{% endblock %}

{% block specific_scripts %}
<script type="text/javascript">

{% if messages %}
    {% for message in messages %}
        var message = "{{ message }}";
        console.log(message);
        if (message === "success") {
            Swal.fire({
                icon: 'success',
                text: 'Usuario creado exitosamente.',
            })
        }
    {% endfor %}
{% endif %}

</script>

{% endblock %}