{% extends "home.html" %}

{% block content %}
<div class="row py-3">
    <div class="col-8 col-xl-8">
        <div class="papaya" data-params="params"></div>
    </div>
    <div class="col-4 col-xl-4">

        {% if request.resolver_match.kwargs.type_ == 'new' %}
            {% include 'sub/new_diagnostic_form.html' %}
        {% else %}
            {% include 'sub/update_diagnostic_form.html' %}
        {% endif%}
        
    </div>        
</div>

{% endblock %}

{% block specific_scripts %}

    <script type="text/javascript">

        //https://stackoverflow.com/questions/48248333/django-cors-headers-not-working-at-all
        $.ajaxSetup({
            beforeSend: function (xhr)
            {
                xhr.setRequestHeader("origin","*");
            }
        });

        var params = [];
        {% if original and mask %}
            var URL_ORIGINAL = "{% url 'serve_file' original %}";
            var URL_MASK = "{% url 'serve_file' mask %}";
            
            console.log(URL_ORIGINAL);
            console.log(URL_MASK);

            params["images"] = [ URL_ORIGINAL,URL_MASK ];
            params["{{ mask }}"] = {lut: "Overlay (Negatives)"};
        {% endif %}
    </script>
{% endblock %}
