{% extends "home.html" %}

{% block content %}
<div class="row py-3">
    <div class="col-1">
        <label class="switch mt-5 mx-4">
          <input id="toggle-mask" type="checkbox" class="default">
          <span class="slider round"></span>
        </label>
    </div>
    <div class="col-7">
        <div class="papaya" data-params="params"></div>
    </div>
    <div class="col-4">

        {% if view_type == 'create' %}
            {% include 'sub/create_diagnostic_form.html' %}
        {% elif view_type == 'update' %}
            {% include 'sub/update_diagnostic_form.html' %}
        {% elif view_type == 'read' %}

            {% if aprobado == True %}
                {% include 'sub/read_diagnostic_form_created.html' %}
            {% elif aprobado == False %}
                {% include 'sub/read_diagnostic_form_updated.html' %}
            {% endif %}
        {% endif%}
        
    </div>        
</div>

{% endblock %}

{% block specific_scripts %}

    <script type="text/javascript">

        //https://stackoverflow.com/questions/48248333/django-cors-headers-not-working-at-all
        $.ajaxSetup({
            beforeSend: function (xhr)
            {
                xhr.setRequestHeader("origin","*");
            }
        });

        // Custom color table for mask overlay. See papaya.js docs.
        var redMaskColorTable = function() { };
        redMaskColorTable.prototype.lookupRed = (screenVal, imageVal) => screenVal == 255 ? 255 : 0;
        redMaskColorTable.prototype.lookupGreen = (screenVal, imageVal) => 0 ;
        redMaskColorTable.prototype.lookupBlue = (screenVal, imageVal) => 0 ;

        var params = [];
        params['showControlBar'] = true;
        {% if original and mask %}
            var URL_ORIGINAL = "{% url 'serve_file' original %}";
            var URL_MASK = "{% url 'serve_file' mask %}";
            
            console.log(URL_ORIGINAL);
            console.log(URL_MASK);

            params["images"] = [ URL_ORIGINAL,URL_MASK ];
            params["{{ mask }}"] = {lut: new redMaskColorTable()};
        {% endif %}

        var maskHidden = false;
        var containerIndex = 0;
        var imageIndex = 1;
        $('#toggle-mask').click(function(){
            if (maskHidden) {
                maskHidden = false;
                papaya.Container.showImage(containerIndex, imageIndex);
            } else {
                maskHidden = true;
                papaya.Container.hideImage(containerIndex, imageIndex);
            }
        });

        $('#read_form').on('submit', function(e){
            e.preventDefault();
        });

        {% if messages %}
            {% for message in messages %}
                var message = "{{ message }}";
                if (message === "success") {
                    Swal.fire({
                        icon: 'success',
                        text: 'Diagnóstico guardado exitosamente.',
                    })
                }
            {% endfor %}
        {% endif %}

    </script>
{% endblock %}
