{% extends "base.html" %}

{% block navbar %}
            <section>
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <a class="navbar-brand px-4" href="{% url 'home' %}">Brain Lesion Detector</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="d-flex justify-content-end collapse navbar-collapse" id="navbarSupportedContent">
                      
                        {% if user.is_authenticated %}
                          <ul class="navbar-nav">             
                            <li class="nav-item">
                              <a class="nav-link" href="{% url 'diagnostic' 'new' %}">Diagnosticar</a>
                            </li>
                          </ul>
                          {% if user.is_admin %}
                            <ul class="navbar-nav">             
                              <li class="nav-item">
                                <a class="nav-link" href="{% url 'listDiagnostic' %}">Diagnósticos</a>
                              </li>
                            </ul>
                            <ul class="navbar-nav">             
                              <li class="nav-item">
                                <a class="nav-link" href="{% url 'listUser' %}">Usuarios</a>
                              </li>
                            </ul>
                          {% else %}
                            <ul class="navbar-nav">             
                              <li class="nav-item">
                                <a class="nav-link" href="{% url 'list_only_user' user.id %}">Diagnósticos</a>
                              </li>
                            </ul>
                          {% endif %}
                          <ul class="navbar-nav">             
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{user.username}} |  
                              {% if user.is_admin %}
                                Admin
                              {% else %}
                                Médico
                              {% endif %}</a>
                              
                              <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item text-white" href="{% url 'logout' %}">Logout</a></li>
                              </ul>
                            </li>
                        </ul>
                        {% endif %}
                                     
                    </div>
                </nav>
            </section> 
{% endblock %}

{% block content  %}
  <!--{% if user.is_authenticated and user.is_admin %}
    <h5>soy admin </h5>
    <h5>{{ user.name | upper }}</h5>
  {% else %}
    <h5>soy doctor</h5>
  {% endif %} -->


  <div class="row p-3">
      <!--div class="col-1">
          <label class="switch mt-5 mx-4">
            <input id="toggle-mask" type="checkbox" class="default">
            <span class="slider round"></span>
          </label>
      </div-->
      <div class="col-7 col-xl-7">
          <div class="papaya" data-params="params"></div>
      </div>
      <div class="col-5 col-xl-5">

        <div class="row">
          <div class="col-12 col-xl-12 d-flex justify-content-center align-items-center">
            <h5>Instrucciones</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-xl-12">
            <p>Bienvenidos, esta aplicación permite segmentar lesiones producto de ACV (Accidente Cerebrovascular) y determinar el tipo 
              de infarto cerebral como: MCA o Lacunar.</p>
           
            <p><span>1.- </span>Cargar imagen MRI tipo <span>T1</span> con extensión <span>.nii</span> 
            o <span>.nii.gz</span> .</p>
            <p><span>2.- </span>Click en boton <span>Segmentar y Diagnosticar</span>.</p>

            <!--<p><span class="fw-bold">3.- </span>Observar los resultados presentados.</p>-->
            <p><span>3.- </span><span>Aprobar</span> o <span>Rechazar</span> el diagnóstico provisto por la aplicación. En caso de Rechazar deberá proveer un diagnóstico adicional.</p> 
            
          </div>
          
        </div>
           
        {% include 'sub/cargarMRI.html' %}
          
      </div>
  </div>

{% endblock  %}


{% block specific_scripts %}

    <script type="text/javascript">

        var CSRFTOKEN = $("[name=csrfmiddlewaretoken]").val();
        var URL_LOAD_FILE = "{% url 'preload_file' %}" ;
        $('#fileMRI').change(function(){
          console.log('File loaded');
          console.log(this.files[0]);

          //Validate extension file
          var allowedExtensions = /(\.nii|\.nii\.gz)$/i;
          var filePath = this.files[0].name;
          if(!allowedExtensions.exec(filePath)){
            Swal.fire({
              icon: 'error',
              title: 'Archivo Inválido',
              text: 'Por favor, verifique que el archivo tenga extensión .nii o .nii.gz',
            })
            $("#fileMRI").val('');
            return false;
          }

          var fd = new FormData();
          var files = this.files[0];
          fd.append('fileMRI',files);
          $.ajax({
              url: URL_LOAD_FILE ,
              type: 'post',
              data: fd,
              contentType: false,
              processData: false,
              headers:{
                  "X-CSRFToken": CSRFTOKEN
              },
              success: function(response){
                console.log(response);
                
                var URL_ORIGINAL = `/file/${response['original']}`;
                console.log(URL_ORIGINAL);

                let params = [];
                params['showControlBar'] = true;
                params['images'] = [URL_ORIGINAL];
                papaya.Container.resetViewer(0, params);
              },
              error: function(err){
                console.log(err);
              },
           });

        });
    </script>
{% endblock %}
