{% extends "base.html" %}

{% block navbar %}
            <section>
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <a class="navbar-brand px-4" href="#">Brain Lesion App</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="d-flex justify-content-end collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">             
                            <li class="nav-item">
                              <a class="nav-link" href="{% url 'diagnostic' 'new' %}">Diagnosticar</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav">             
                            <li class="nav-item">
                              <a class="nav-link" href="{% url 'listDiagnostic' %}">Listar</a>
                            </li>
                        </ul>
                        
                        <ul class="navbar-nav">             
                            <li class="nav-item">
                              <a class="nav-link" href="{% url 'logout' %}">Log out</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </section> 
{% endblock %}

{% block content  %}
  {% if user.is_authenticated and user.is_admin %}
    <h5>soy admin </h5>
    <h5>{{ user.name | upper }}</h5>
  {% else %}
    <h5>soy doctor</h5>
  {% endif %}

  <div class="row">
    <div class="col-12 col-xl-12 d-flex justify-content-center align-items-center">
      <h5>Instrucciones</h5>
    </div>  
  </div> 
  <div class="row">
     <div class="col-2 col-xl-2"></div>
      <div class="col-8 col-xl-8 d-flex justify-content-center align-items-center">
        
        <p class="text-justify">Bienvenidos, esta aplicaciòn permite segmentar lesiones producto de ACV (Accidente Cerebrovascular) y determinar la clasificaciòn
        de la enfermedad cerebrovascular como: ACV, Lacunar. Para realizar esto el usuario tendrà que cargar un  archivo de Resonancia Magnètica de formato .nii.gz
        y como resultado el usuario visualizarà el segmento generado junto con la imagen previamente cargada si se detecto un lesiòn ACV. EL usuario puede guardar estos 
        resulatdos, si aprueba que son correctos, caso contrario, sera dirigido a un formulario donde podra colocar su punto de vista sobre la informaciòn presentada por esta herramienta.</p>
            
    </div> 
     <div class="col-2 col-xl-2"></div>
  </div>
           
  {% include 'sub/cargarMRI.html' %}

{% endblock  %}